html, body {
    height: 100%;
  }
  
  #mapid { height: 600px; 
  margin-top: 150px;
  margin-left: 20px;}
  
  #map { height: 600px;}
  
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  
  .legend {
    line-height: 18px;
    color: #555;
  }
  .legend i {
    width: 18px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
}

.p{
    font-size: 20px
}

#table{
  font-family: Helvetica ;
  text-align: -webkit-center;
}

th {
  /* border: 0.5px dashed #000000; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top:3px;
  padding-bottom: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eaeaea; 
}
td {
  /* border: 0.5px dashed #000000; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid rgb(75, 75, 75);
  padding: 3px
}

#heatmap{
  max-width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 25px;
}

.smaller{
  font-size: 15px ;
  text-align: justify;
} 

.labelhidden{
  color: white !important;
}

.inputhidden{
  border: 1px solid white !important
}

#submit{
  background: #d7e2fff8  !important;
  font-weight: bold;
}

#clear{
  background: #fffcdcf8;
  font-weight: bold;
}

select {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 260px;
  text-indent: 5px;
}

input{
  text-align: center;
}

.card-body{
  text-align: center;
}

h1,h2,h3,h4,h5{
  text-align: center;
}

label{
  font-size: 14px !important;
  padding-top: 5px;
  padding-right: 5px;
  display: inline-block;
  width: 180px;
  text-align: right;

}

.myInput {
  width: 160px;
  word-wrap: break-word;
  background: rgb(255, 255, 255) !important;
}

form {
  display: inline-block !important;
}

@media (max-width: 600px)  {
  label {
    text-align: center !important;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 1;
  text-align: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #6882a5;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 260px;
  bottom: 100%;
  left: 50%;
  margin-left: -130px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.blue{
  color: rgb(25, 6, 131) !important;
}

ol{
  text-align: left;
}

.bar {
  fill: rgb(8, 187, 112);
}

.bar:hover {
  fill: rgba(26, 51, 83, 0.938);
}

input[id="var0"], textarea {
  background-color: #e6e6e6 !important;
}

.steps {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  margin: 8px;
  border-radius: 4px;
}

.steps:hover{
  background-color: #cfcfcf !important;
}

.first{
  margin-left: 1px !important;
  background-color: #188977 !important;
}

.second{
  background-color: #137177 !important;
}

.third{
  background-color: #0E4D64 !important;
}

.fourth{
  background-color: #0A2F51 !important;
}

.fixed{
  margin-right: 1px;
}