html, body {
    height: 100%;
  }
  
  #mapid { height: 600px; 
  margin-top: 150px;
  margin-left: 20px;}
  
  #map { height: 600px;}
  
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  
  .legend {
    line-height: 18px;
    color: #555;
  }
  .legend i {
    width: 18px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.8;
}

.p{
    font-size: 20px
}

select {
  width: 160px;
  word-wrap: break-word
}

#table{
  font-family: Helvetica ;
  text-align: -webkit-center;
}



th {
  /* border: 0.5px dashed #000000; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top:3px;
  padding-bottom: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eaeaea; 
}
td {
  /* border: 0.5px dashed #000000; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid rgb(75, 75, 75);
  padding: 3px
}

.heatmap{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.smaller{
  font-size: 15px ;
  text-align: justify;
}

.myInput{
  background: rgb(255, 255, 255) !important;
}

.labelhidden{
  color: white !important;
}

.inputhidden{
  border: 1px solid white !important
}

#submit{
  background: #d7e2fff8  !important;
  font-weight: bold;
}

#clear{
  background: #fffcdcf8;
  font-weight: bold;
}

select {
  display: block;
  margin: 0 auto;
  text-align: center;
}

input{
  text-align: center;
}

.card-body{
  text-align: center;
}

h1,h2,h3,h4,h5{
  text-align: center;
}